*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*
.main_container{
    width: 100%;
    height: 100vh;
    background-image: url("https://i.postimg.cc/Jh0s6BvS/img4-min.png");
    transition: 6s ease-in;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    filter: drop-shadow(2px 2px 15px black);

}
*/

header{
    background-color: black;
    color: aliceblue;
    width: 100%;

    display: flex;
    justify-content: center;
}

header span{
    padding: 5px;
    font-size: 2rem;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 5px;
    color: #ec9627;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    /*
    background-image: url("https://i.postimg.cc/G2qHZQ9M/img13-min.png");
    transition: 10s ease-out;
    transform: translateY(5%);*/
    background-image: url("https://i.postimg.cc/Lsw-rqCGx/bg-munkyweb2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: drop-shadow(5px 5px 5px black);
    transition: 7s ease-in-out;
}
.btn-group-vertical{
    margin-top: 1rem;
    gap: 10px;
    width: 50%;
}
.btn_ig{
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #FD0060;
    box-shadow: 11px -2px 9px 0px rgba(0, 0, 0, 0.5);
    color: aliceblue;
    width: 100%;
    height: 40px;
    font-size: 25px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}
.btn_ig span{
    font-size: 20px;
    padding-left: 10px;
}
.btn_fb{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(246, 246, 246);
    box-shadow: 10px -4px 5px 0px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 40px;
    font-size: 25px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}
.btn_fb span{
    color: black;
    font-size: 20px;
    padding-left: 10px;
}
.btn_wp{
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #0CC041;
    box-shadow: 14px -5px 9px 0px rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    width: 100%;
    height: 40px;
    font-size: 25px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}
.btn_wp span{
    font-size: 12px;
    padding-left: 5px;
}

footer {
    background-color: black;
    color: aliceblue;
    width: 100%;    
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px;
}

footer span{
    width: 90%;
    font-weight: 100;
    font-size: 9px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}