*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main_background{
    background-color: rgb(48, 48, 48);
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main_container{
    background-color: rgb(188, 9, 9);
    width: 90%;
    height: 90vh
}

header{
    background-color: black;
    color: aliceblue;
    width: 100%;
    height: 15%;

    display: flex;
    justify-content: center;
    align-items: center;
}

header span{
    padding: 5px;
    font-size: 2rem;
    font-weight: 200;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
}

main{
    background-color: khaki;
    width: 90%;
    height: 70%;

    position: fixed;
    background-image: url("https://i.postimg.cc/G2qHZQ9M/img13-min.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
   
}

footer {
    background-color: black;
    color: aliceblue;
    width: 100%;
    height: 12%;
    
    position: relative;
    display: flex;
    justify-content: center;
    top: 76%;
    text-align: center;
    padding: 5px;
}

footer span{
    width: 90%;
    position: fixed;
    font-weight: 100;
    font-size: 9px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}